<!DOCTYPE html>

<html>

<head>
    <link rel = "stylesheet" href="/css/styles.css";>
</head>

<body>
    {{>header}}
    <p>{{Errormessage}}</p>
    <img src= "/img/404.png">
    {{>footer}}
</body>

</html> 